<link rel="stylesheet" type="text/css" href="/assets/css/save.css"/>
<script type="text/javascript" src="/assets/js/save.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<br><br><br><br><br>

<script type="text/javascript">
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus()
})
</script>

<div class="container">


{{#each articles}}      
     <div class = "article-box">
         <a href={{link}}  target="_blank"><h6 class="title">{{title}}</h6></a> 
              <!-- Raised button with ripple -->
			<button type="button" data-id={{_id}} saved={{saved}} class="btn note-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-toggle="modal" data-target="#{{_id}}modal">
			  note
			</button>
			<button id={{_id}} saved={{saved}} class="unsave-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
			  unsave 
			</button>
  
  <!-- Modal -->
  <div class="modal fade" id="{{_id}}modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h6 class="modal-title">{{title}}</h6>
        </div>
        <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Title:</label>
            <input type="text" class="form-control" id="titleinput">
          </div>
          <div class="form-group">
            <label for="message-text" class="form-control-label">Note:</label>
            <textarea class="form-control" id="bodyinput"></textarea>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="savenote-btn btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" data-id={{_id}}>Save</button>
      </div>
      
    </div>
  </div>
 </div>
 </div>

{{/each}}

</div>


